<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

.hero, title {
}

div {
}
nav {
}

li {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 14px;
  display: flexbox;
}
.column1 {
  float: left;
  display: table;
  width: 25%;
  flex: none;
}

.column2 {
  float: right;
  display: table;
  width: 75%;
  flex: none;
}

body {
  font-family: Montserrat;
  font-weight: normal;
}

section {
}

h1 {
  font-family: Montserrat;
  font-weight: bold;
  background-color: #4189c9;
  padding: 0 10 0px;
  color: white;
}

h3 {
  font-family: ;
  font-weight: 900;
  font-size: 16px;
  color: #4189c9;
  
}

h2 {
  font-family: Montserrat;
  font-weight: bolder;
  font-size: 20px;
  background-color: #4189c9;
  color: white;
  alignment: center;
}

#header {
  display: table;
  background-color: ;
}

hero {
  display: flexbox;
  background-color: #4189c9;
}

.work-experience {

}

.education {

}

.languages {

}

.skills {

}

.contact-info {

}

dfn {
  background: rgba(0,0,0,0.2);
  border-bottom: dashed 1px rgba(0,0,0,0.8);
  padding: 0 0.4em;
  cursor: help;
  font-style: normal;
  position: relative;
  
}
dfn::after {
  content: attr(data-info);
  display: inline;
  position: absolute;
  top: 22px; left: 0;
  opacity: 0;
  width: 230px;
  font-size: 13px;
  font-weight: 700;
  line-height: 1.5em;
  padding: 0.5em 0.8em;
  background: rgba(0,0,0,0.8);
  color: #fff;
  pointer-events: none; /* This prevents the box from apearing when hovered. */
  transition: opacity 250ms, top 250ms;
}
dfn::before {
  content: '';
  display: block;
  position: absolute;
  top: 12px; left: 20px;
  opacity: 0;
  width: 0; height: 0;
  border: solid transparent 5px;
  border-bottom-color: rgba(0,0,0,0.8);
  transition: opacity 250ms, top 250ms;
}
dfn:hover {z-index: 2;} /* Keeps the info boxes on top of other elements */
dfn:hover::after,
dfn:hover::before {opacity: 1;}
dfn:hover::after {top: 30px;}
dfn:hover::before {top: 20px;}