<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

.hero, title {
}

div {
}
nav {
}

li {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 14px;
  display: flexbox;
}
.column1 {
  float: left;
  display: table;
  width: 25%;
  flex: none;
}

.column2 {
  float: right;
  display: table;
  width: 75%;
  flex: none;
}

body {
  font-family: Montserrat;
  font-weight: normal;
}

section {
}

h1 {
  font-family: Montserrat;
  font-weight: bold;
  background-color: #4189c9;
  padding: 0 10 0px;
  color: white;
}

h4 h5 h6 {
}

h2 {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 20px;
  background-color: ;
  color: #4189c9;
  alignment: center;
}

#header {
  display: table;
  background-color: ;
}

hero {
  display: flexbox;
  background-color: #4189c9;
}
